html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1 !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.boxW {
    width: 1140px;
    margin: 0 auto;
}

.frspace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* @media screen and (max-width:768px) {
    .boxW {
        width: 23.4375rem !important;
    }
} */