html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1 !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.boxW {
    width: 1140px;
    margin: 0 auto;
}

.frspace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 自定义scrollbar */
::-webkit-scrollbar {
    width: 4px;
    background: none;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #31c27c;
    border-radius: 2px;
}

::-webkit-scrollbar-button {
    visibility: hidden;
}